aiohttp==3.8.4
aiosignal==1.3.1
alabaster==0.7.13
annotated-types==0.7.0
anyio==3.6.1

astroid==2.4.2
async-timeout==4.0.2
attrs==22.2.0
Babel==2.12.1
backcall==0.2.0
backports.entry-points-selectable==1.1.0
backports.zoneinfo==0.2.1
blinker==1.6.2
cachetools==5.2.0
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.7
click==8.1.3
colorama==0.4.6
comm==0.2.2
cycler==0.10.0
dataclasses==0.6
dataclasses-json==0.6.6
decorator==5.0.7
distlib==0.3.3
docutils==0.20.1
exceptiongroup==1.1.1
filelock==3.3.1
Flask==2.3.2
fonttools==4.34.4
frozenlist==1.3.3
future==0.18.3
fuzzy_expert==0.1.0
fuzzylogic==1.2.0
greenlet==3.0.3
h11==0.12.0
httpcore==0.15.0
httpx==0.23.0
idna==2.10
imagesize==1.4.1
importlib-metadata==6.6.0
imutils==0.5.4
iniconfig==2.0.0
ipykernel==5.5.3
ipython==7.22.0
ipython-genutils==0.2.0
ipywidgets==8.1.2
isort==5.5.3
itsdangerous==2.1.2
jedi==0.18.0
Jinja2==3.1.2
joblib==1.4.2
jprops==2.0.2
jsonpatch==1.33
jsonpointer==2.4
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyterlab_widgets==3.0.10
keras==2.15.0
keras-ncp==2.1.0
kiwisolver==1.3.1
langchain==0.2.1
langchain-community==0.2.1
langchain-core==0.2.1
langchain-experimental==0.0.59
langchain-text-splitters==0.2.0
langsmith==0.1.63
largestinteriorrectangle==0.1.0
lazy-object-proxy==1.4.3
llvmlite==0.38.1
MarkupSafe==2.1.2
marshmallow==3.21.2
matplotlib==3.5.2
mccabe==0.6.1
mnist==0.2.2
MouseInfo==0.1.3
mtcnn==0.1.1
multidict==6.0.4
mypy-extensions==1.0.0
networkx==3.1
nltk==3.8.1
numba==0.55.2
numpy==1.22.4
numpydoc==1.5.0
oauthlib==3.2.2
orjson==3.10.3
packaging==23.2
pafy==0.5.5

parso==0.8.2
pickleshare==0.7.5
Pillow==9.2.0
pipenv==2022.6.7
platformdirs==2.4.0
pluggy==1.0.0
progressbar2==4.4.2
prompt-toolkit==3.0.18
psutil==5.9.4
PyAutoGUI==0.9.53
pydantic==1.10.8
pydantic_core==2.18.2
pyfpgrowth==1.0
PyGetWindow==0.0.9
Pygments==2.15.1
pyhopper==1.2.2
pyit2fls==0.7.9
PyJWT==2.6.0
pylint==2.6.0
PyMsgBox==1.0.9
pyparsing==2.4.7
pyperclip==1.8.2
pypi-xmlrpc==2020.12.3
pyproject.toml-based
PyRect==0.2.0
PyScreeze==0.1.28
pyTelegramBotAPI==4.6.0
pytesseract==0.3.10
pytest==7.3.1
python-dateutil==2.8.2
python-dotenv==0.20.0

python-utils==3.8.2
pytweening==1.0.4


pywin32; platform_system == 'Windows'
PyYAML==6.0

regex==2022.6.2
request-id==1.0.1
requests==2.28.2
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
rfc3986==1.5.0
roboflow==0.2.4
scikit-fuzzy==0.4.2
scipy==1.8.1
seaborn==0.12.2
simpful==2.12.0
simpleai==0.8.3
simpleai-lib==1.0.0
six==1.16.0
sniffio==1.2.0
snowballstemmer==2.2.0
Sphinx==7.0.1
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==2.0.30
stitching==0.2.1

telebot==0.0.4
tenacity==8.3.0
threaded==4.1.0
toml==0.10.1
tomli==2.0.1
tornado==6.1
tqdm==4.64.0
traitlets==5.0.5
tweepy==4.14.0
typing-inspect==0.9.0
typing_extensions==4.10.0
tzdata==2022.1
tzlocal==4.2
urllib3==1.26.6
virtualenv==20.9.0
virtualenv-clone==0.5.7
wcwidth==0.2.5
webcolors==1.11.1
WebOb==1.8.7
Werkzeug==2.3.4
wget==3.2
widgetsnbextension==4.0.10
wrapt==1.12.1
yarl==1.8.2
zipp==3.15.0
